<div data-turbolinks="false"></div>
<%= react_component 'Dashboard', {user: @user} %>
<%= link_to "My Freewriting", freewrites_path %>
<%= link_to "Songs", songs_path %>
<%= link_to "Sections", sections_path %>
